@vizir-banking:registry=https://pkgs.dev.azure.com/vizir-banking/vizir-banking/_packaging/vizir-banking/npm/registry/
@vb-libs:registry=https://pkgs.dev.azure.com/vizir-banking/vizir-banking/_packaging/vb-libs/npm/registry/
always-auth=true
